<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title> Route420 :: CBD Finder</title>
  <link rel="icon" type="image/png" href="../../Route420/images/favicon.png" />

  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  <!--Core CSS -->
  <link rel="stylesheet" href="../../public/css/bulma.css">
  <link rel="stylesheet" href="../../public/css/core.css">

  <!--Libraries-->
  <link rel="stylesheet" href="../../public/fonts/cryptofont/css/cryptofont.min.css">
  <link rel="stylesheet" href="../../public/fonts/cryptofont/css/cryptofont.css">
  <link rel="stylesheet" href="../../public/js/aos/aos.js">
  
  
</head>

<body>
  {{{body}}}

  <footer class="krypton-footer">
    <div class="container">
      <!-- Logo -->
      <div class="footer-logo">
        <a href="#">
          <img src="assets/images/logo/route420-icon.svg" alt="" data-aos="fade-up" data-aos-delay="100"
            data-aos-offset="200" data-aos-easing="ease-out-quart">
          <div class="brand-name">Route420</div>
          <div class="brand-subtitle">CBD supply locator</div>
        </a>
      </div>

      <!-- Columns -->
      <div class="columns footer-columns is-vcentered">
        <div class="column is-4">
          <!-- Links group -->
          <ul class="footer-links">
            <li>
              <a href="index.html">Home</a>
            </li>

            <li>
              <a href="products.html">Products</a>
            </li>

            <li>
              <a href="roadmap.html">Roadmap</a>
            </li>
          </ul>
        </div>
        <!-- Newsletter -->
        <div class="column is-4">
          <div class="subscribe-block">
            <form>
              <!-- Field -->
              <div class="control">
                <!-- Special input -->
                <input class="krypton-subscribe-input" type="email" name="email" placeholder="">
                <button class="subscribe-button">
                  <span>Subscribe For Updates</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- Links group -->
        <div class="column is-4">
          <ul class="footer-links">
            <li>
              <a href="blog.html">Media</a>
            </li>

            <li>
              <a href="#">Terms & Conditions</a>
            </li>

            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Copyright -->
      <p class="k-copyright">© 2019 | Route420 All Rights Reserved</p>
      <br>
      <!-- Made by -->
      <p class="coded-by">Web design and development by: <a href="https://" target="_blank">CBD Digital Group</a>
      </p>
    </div>

    <!-- Absolute image -->
    <img class="solar-system" src="assets/images/bg/solar.svg" alt="">
  </footer>
  <!-- Core js -->
  <script src="../../public/js/app.js"></script>
  <!-- Moment.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <!-- <script src="/js/index.js"></script> -->

  <script src="../assets2/js/timeline.js"></script>
  <script src="../assets2/js/roadmap.js"></script>
  <script src="../assets2/js/main.js" defer="defer"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>

</html>