<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h4><a href="/">Home</a></h4>
        <h4><a id="user-profile-link" href="/user">User Profile</a></h4>
        <div><button id="btn-signout">Sign-Out</button></div>
        
        <h1>All Locations</h1>
     
        <ul id="example-list" class="list-group">
          {{#each locations}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="locations/{{this.id}}">{{this.city}}, {{this.state}}</a>
          </li>
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
</div>