<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h4><a href="/">Home</a></h4>
        <h4><a href="/locations">All Locations</a></h4>
        <h4><a id="user-profile-link" href="/user">User Profile</a></h4>
        <div><button id="btn-signout">Sign-Out</button></div>
        
        <div>
            <h1 id="prodName" data-prod="{{product.id}}">{{product.name}}</h1>
            <div> 
                Brand: {{product.brand}}
                <p>{{product.description}}</p>
            </div>
            <div>
                <button class="btn-find">Find In Stores</button>
                <p>
                <h4>Results: </h4>
                <div id="find-results"></div>
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>