<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Route420 :: CBD Finder :: Products</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

    <!--Core CSS -->
    <link rel="stylesheet" href="assets/css/bulma.css">
    <link rel="stylesheet" href="assets/css/core.css">
    <!--Libraries-->
    <link rel="stylesheet" href="assets/fonts/cryptofont/css/cryptofont.min.css">
    <link rel="stylesheet" href="assets/js/modalvideo/modal-video.min.css">
    <link rel="stylesheet" href="assets/js/aos/aos.css">

</head>

<body>
    <!-- Pageloader -->
    <div class="pageloader is-theme"></div>
    <div class="infraloader is-active"></div>
    <div class="token-wrapper">
        <!-- Hero -->
        <section class="hero is-small">
            <div class="hero-head">
                <!-- Cloned navbar -->
                <!-- Cloned navbar that comes in on scroll -->
                <nav id="navbar-clone" class="navbar is-fixed is-dark">
                    <div class="container">
                        <!-- Brand -->
                        <div class="navbar-brand">
                            <a href="index.html" class="navbar-item">
                                <img class="" src="assets/images/logo/route420-icon.svg" alt="">
                                <span class="brand-name">Route420</span>
                            </a>
                            <!-- Responsive toggle -->
                            <span class="navbar-burger burger" data-target="cloneNavbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <!-- Menu -->
                        <div id="cloneNavbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="index.html">Home</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="products.html">Products</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="roadmap.html">Roadmap</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="blog.html">Media</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="contact.html">
                                        <img class="telegram" src="assets/images/logo/telegram.svg" alt="Email icon">
                                        Contact Us
                                    </a>
                                </div>

                                <!-- Sign in -->
                                <div class="navbar-item is-nav-link">
                                    <a href="login.html" class="button k-button k-primary raised has-gradient rounded">
                                        <span class="text">Log In / Sign Up</span>
                                        <span class="front-gradient"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- /Cloned navbar -->
                <!-- Static navbar -->
                <nav class="navbar is-light">
                    <div class="container">
                        <!-- Brand -->
                        <div class="navbar-brand">
                            <a href="index.html" class="navbar-item">
                                <img class="" src="assets/images/logo/route420-icon.svg" alt="Route420-app-logo-svg">
                                <span class="brand-name">Route420</span>
                            </a>
                            <!-- Responsive toggle -->
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <!-- Menu -->
                        <div id="navbarMenu" class="navbar-menu light-menu">
                            <div class="navbar-end">
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="index.html">Home</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="products.html">Products</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="roadmap.html">Roadmap</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="blog.html">Media</a>
                                </div>
                                <!-- Menu item -->
                                <div class="navbar-item is-nav-link">
                                    <a class="is-centered-responsive" href="contact.html">
                                        <img class="telegram" src="assets/images/logo/telegram.svg" alt="">
                                        Contact Us
                                    </a>
                                </div>
                                <!-- Sign in -->
                                <div class="navbar-item">
                                    <a href="login.html" class="button k-button k-primary raised has-gradient rounded">
                                        <span class="text">Log In / Sign Up</span>
                                        <span class="front-gradient"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- /Static navbar -->
            </div>

            <div class="hero-body">
                <section class="section is-small">
                    <div class="container">

                        <!-- Content wrapper -->
                        <div class="content-wrapper">
                            <a href="products.html" id="back-btn">Back to products</a>
                            <br><br>

                            <div class="columns">
                                <!-- Feature content -->
                                <div class="column is-8">
                                    <div class="side-feature-content">

                                        <h3 class="title is-3 is-light is-semibold">Meds Biotech CBD Oil</h3>
                                        <div class="divider"></div>
                                        <p class="is-light">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit,
                                            no sea
                                            labore detraxit. Primis mediocrem necessitatibus an vis. Eu impetus perfecto
                                            sit, no
                                            sea labore detraxit.
                                            <br /> <br />
                                            It has survived not only five centuries, but also the leap into electronic
                                            typesetting,
                                            remaining essentially unchanged. It was popularised in the 1960s with the
                                            release of
                                            Letraset sheets containing Lorem Ipsum passages, and more recently with
                                            desktop
                                            publishing software like Aldus PageMaker including versions of Lorem
                                            Ipsum.It is a long
                                            established fact that a reader will be distracted by the readable content of
                                            a page when
                                            looking at its layout. The point of using Lorem Ipsum.</p>
                                    </div>
                                </div>

                                <!-- Feature image -->
                                <div class="column is-4">
                                    <img class="side-feature" src="assets/images/media/cbd-trends-post1.jpg"
                                        alt="CBD Business Opportunity-post-thumbnail">
                                </div>
                            </div>
                        </div><!-- / Wrapper -->
                    </div><!-- / Container -->
                </section>

                    <div class="container">
                        <!-- Content wrapper -->
                        <div class="content-wrapper">                        

                            <div class="columns">
                                <!-- Feature content -->
                                <div class="column is-8">
                                        <div class="events-content">
                                                <h4 class="title is-4 is-light is-semibold">Store Locations</h4>
                                                <ol>
                                                    <li class="selected">
                                                        <div class="inner-wrapper">
                                                            <div class="title-wrapper">
                                                                <div>
                                                                    <span class="event-title">Sample Store ID</span>
                                                                    <p class="is-light">Viderer malorum sadipscing</p>
                                                                    <p class="is-light">Viderer malorum sadipscing</p>
                                                                    <p class="is-light">Viderer malorum sadipscing</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                                <ol>
                                                    <li class="selected">
                                                        <div class="inner-wrapper">
                                                            <div class="title-wrapper">
                                                                <div>
                                                                    <span class="event-title">Sample Store ID</span>
                                                                    <p class="is-light">Viderer malorum sadipscing</p>
                                                                    <p class="is-light">Viderer malorum sadipscing</p>
                                                                    <p class="is-light">Viderer malorum sadipscing</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </div>
                                </div>

                            </div>
                        </div><!-- / Wrapper -->
                    </div><!-- / Container -->
                </section>


            </div><!-- / Hero body -->
        </section>

        <footer class="krypton-footer">
            <div class="container">
                <!-- Logo -->
                <div class="footer-logo">
                    <a href="#">
                        <img src="assets/images/logo/route420-icon.svg" alt="" data-aos="fade-up" data-aos-delay="100"
                            data-aos-offset="200" data-aos-easing="ease-out-quart">
                        <div class="brand-name">Route420</div>
                        <div class="brand-subtitle">CBD supply locator</div>
                    </a>
                </div>

                <!-- Columns -->
                <div class="columns footer-columns is-vcentered">
                    <div class="column is-4">
                        <!-- Links group -->
                        <ul class="footer-links">
                            <li>
                                <a href="index.html">Home</a>
                            </li>

                            <li>
                                <a href="products.html">Products</a>
                            </li>

                            <li>
                                <a href="roadmap.html">Roadmap</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Newsletter -->
                    <div class="column is-4">
                        <div class="subscribe-block">
                            <form>
                                <!-- Field -->
                                <div class="control">
                                    <!-- Special input -->
                                    <input class="krypton-subscribe-input" type="email" name="email" placeholder="">
                                    <button class="subscribe-button">
                                        <span>Subscribe For Updates</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Links group -->
                    <div class="column is-4">
                        <ul class="footer-links">
                            <li>
                                <a href="blog.html">Media</a>
                            </li>

                            <li>
                                <a href="#">Terms & Conditions</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Copyright -->
                <p class="k-copyright">© 2019 | Route420 All Rights Reserved</p>
                <br>
                <!-- Made by -->
                <p class="coded-by">Web design and development by: <a href="https://" target="_blank">CBD Digital
                        Group</a>
                </p>
            </div>

            <!-- Absolute image -->
            <img class="solar-system" src="assets/images/bg/solar.svg" alt="">
        </footer>
        <!-- Core js -->
        <script src="assets/js/app.js"></script>

        <!--script src="assets/js/particlesjs/particles.min.js"></script-->
        <script src="assets/js/aos/aos.js"></script>

        <script src="assets/js/timer.js"></script>
        <script src="assets/js/timeline.js"></script>
        <script src="assets/js/roadmap.js"></script>
        <script src="assets/js/main.js" defer="defer"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

</body>

</html>