<div id="Sign-In">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h3><a href="/">Home</a></h3>
        <h3><a href="/locations">All Locations</a></h3>
        <h4><a id="user-profile-link" href="/user">User Profile</a></h4>
        <div><button id="btn-signout">Sign-Out</button></div>

        <h1>Sign-In</h1>

        <form id="signInForm" class="clearfix mb-4" method="get">
          <!-- this needs to go to user page -->
          <div class="form-group">
            <label for="example-text">Email:</label>
            <input type="email" id="signin-email" class="form-control">
          </div>

        <div class="form-group">
            <label for="example-text">Password:</label>
            <input type="password" id="signin-password" class="form-control">
          </div>

          <div>
          <button id="signin-submit" class="btn btn-primary float-right">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
